.template {
  margin-top: 164px;
  text-align: center;
  padding: 0 180px;
}

.template__creative-template {
  font-family: $main-font-kaushan;
  font-size: 72px;
  color: $color-main;
  margin: 0;
}

.template__welcome-mogo {
  font-family: $main-font-monts-b;
  font-size: 150px;
  color: $color-main;
  text-transform: uppercase;
  margin: 0;
}
