/* связано с нормалайзом */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/*!!!*/
img {
    display: block;
    max-width: 100%;
    /* чтобы не розтягивалась больше чем оригинальный розмер */
    height: auto;
}

/* montserrat-700 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/montserrat-v14-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'),
        url('../fonts/roboto-v20-latin-300.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v20-latin-300.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.body {
    font-size: 14px;
    line-height: 1.2;
}

.wrapper {
    width: 320px;
    margin: 0 auto;
}

.sait {
    min-height: 540px;
    background-image: url(../img/background/Vector\ Smart\ Object\ mobile.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 68px;
}

.button {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 118px;
}

.log-in, .sign-in {
    border: solid 2px rgba(255, 255, 255, 0);
}

.log-in:hover,
.log-in:focus, 
.sign-in:hover, 
.sign-in:focus{
    border: solid 2px rgb(255, 255, 255);
    border-radius: 20px;
}

.sign-in,
.log-in {
    background-color: rgba(26, 25, 21, 0);
    padding: 8px 16px;
    font-family: 'Montserrat', sans-serif;
}
.tack{
    text-decoration: none;
    display: inline-block;
    color: rgb(255, 255, 255);
}

.logo,
h1,
.text-item {
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0;
}
.logotype{
    text-align: center;
    margin-bottom: 30px;
}
.logo{
    text-decoration: none;
    display: inline-block;
}
h1 {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

.text-item {
    margin-bottom: 18px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    padding: 0 20px;
}

.button-partner {
    color: rgb(255, 255, 255);
    border-radius: 20px;
    background-color: rgb(255, 78, 80);
    border-style: none;
    border-width: 2px;
    background-color: rgb(255, 78, 80);
    padding: 12px 47px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Montserrat', sans-serif;
}


/* SECTION */
.partner-infirmation {
    padding: 0 20px;
}

h2 {
    text-align: center;
    font-size: 22px;
    margin: 0;
    margin-bottom: 12px;
    color: rgb(51, 51, 51);
    font-family: 'Montserrat', sans-serif;
}

.partner {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 22px;
}

.partner-item {}



.partner-item_icons {
    height: 122px;
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
}

.partner-item_foto {
    display: inline-block;
    width: 122px;
    margin: 0;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(255, 255, 255);
    border-radius: 50%;
}

.icons-item {
    position: absolute;
    display: inline-block;
    bottom: 0;
    right: 0;
    width: 37px;
    height: 37px;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(255, 255, 255);
    border-radius: 50%;
}

.icons-item_shape {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.red {
    background-color: rgb(255, 78, 80);
}

.yellow {
    background-color: rgb(255, 165, 7);
}

.blue {
    background-color: rgb(28, 215, 173);
}

.dark_blue {
    background-color: rgb(78, 115, 219);
}

.partner-first_and_last_name,
.partner-about_me {
    margin: 0;
    text-align: center;
}

.partner-first_and_last_name {
    margin-bottom: 12px;
    color: rgb(51, 51, 51);
    font-family: 'Montserrat', sans-serif;
}

.partner-about_me {
    color: rgb(102, 102, 102);
    font-family: 'Roboto', sans-serif;
}

.see {
    color: rgb(255, 78, 80);
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 78, 80);
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    padding: 12px 70px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 767px) {
    .button {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .partner-item:not(:nth-last-child(-n+1)) {
        margin-bottom: 21px;
    }
}

@media screen and (min-width: 768px) {
    .wrapper {
        max-width: 748px;
        padding: 0 40px;
        width: 100%;
    }

    .sait {
        min-height: 700px;
        background-image: url(../img/background/Vector\ Smart\ Object\ tabl.png);

    }

    .content {
        display: inline-block;
    }

    .naw {
        margin-top: 40px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-bottom: 140px;
        align-items: center;
    }

    .button {
        margin: 0;
    }

    .logotype {
        margin: 0;
    }

    h1 {
        padding: 0 76px;
        font-size: 52px;
        margin-bottom: 26px;
    }

    .text-item {
        font-size: 24px;
        margin-bottom: 32px;
    }

    .button-partner {
        padding: 12px 22px;
    }

    /* SECTION */
    .partner-infirmation {
        padding: 0;
        width: 492px;
        margin: 0 auto;
    }

    h2 {
        margin-bottom: 32px;
    }

    .partner {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 26px;
    }

    .partner-item {
        margin: 0;
        width: 236px;
    }

    .see {
        padding: 10px 28px;
    }
}

@media screen and (min-width: 768px) and (max-width:959px) {
    .partner-item:not(:nth-child(2n)) {
        margin-right: 20px;
    }

    .partner-item:not(:nth-last-child(-n+2)) {
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 960px) {
    .wrapper {
        max-width: 940px;
        padding: 0;
    }

    .sait {
        min-height: 700px;
        background-image: url(../img/background/Vector\ Smart\ Object\ desktop.png);
    }

    h1 {
        padding: 0 218px;
    }

    /* SECTION */
    .partner-infirmation {
        width: 940px;
    }

    .partner-item {
        width: 220px;
        margin-bottom: 0;
    }

    .partner-item:not(:nth-child(4n)) {
        margin-right: 20px;
    }
}