.alumni-reviews {
  background-color: $color-white;
  box-shadow: $box-shadow;
  text-align: center;
  padding-bottom: 25px;
  padding-top: 20px;

  &__photo {
    overflow: hidden;
    height: 80px;
    margin: 0 100px;
    border-color: $color-white;
    border-radius: 50%;
  }

  &__link {
    display: inline-block;
    margin-top: 18px;
    margin-bottom: 10px;
  }

  &__svg {
    display: block;
    width: 38px;
    height: 22px;
  }

  &__name {
    font-size: $size-mobile;
    font-weight: 800;
    color: $color-accent-orange;
    margin: 0;
    margin-bottom: 2px;
  }

  &__description {
    font-size: 11px;
    margin: 0 14px;
  }

  &__description:not(:last-child) {
    margin-bottom: 12px;
  }

  &__description--accent-gray {
    color: rgb(133, 133, 133);
  }

  &__description--accent-black {
    color: $color-accent-black;
    height: 100px;
    overflow: hidden;
    display: inline-block;
    line-height: 1.9;
  }

  &__description--accent {
    color: $color-accent-orange;
  }
}

@media screen and (min-width:768px) {
  .alumni-reviews {
    display: flex;
    padding-top: 46px;
    padding-bottom: 50px;

    &__photo {
      margin: 0;
    }

    &__name {
      font-size: 18px;
    }

    &__description {
      font-size: $size-mobile;
    }

    &__svg {
      width: 28px;
      height: 16px;
    }
  }
}

@media screen and (min-width:1280px) {
  .alumni-reviews {
    width: 1065px;
    margin: 0 auto;

    &__photo {
      height: 145px;
    }

    &__name {
      font-size: 25px;
    }

    &__description {
      font-size: $size-mobile;
    }

    &__description--accent-black {
      font-size: 17px;
    }

    &__name {
      margin-bottom: 12px;
    }

    &__description {
      margin-bottom: 18px;
    }


  }
}

@media screen and (min-width:1680px) {
  .alumni-reviews__description:last-child {
    margin-bottom: 0;
  }

  .alumni-reviews {
    padding-bottom: 45px;
  }
}
