.course-button {
  border: none;
  background-color: rgb(255, 107, 8);
  padding: 20px 14px;
  cursor: pointer;
}

.course-button__link {
  text-transform: uppercase;
  padding-top: 20px 14px 15px 14px;
  color: rgb(255, 255, 255);
  font-size: 11px;
  font-weight: 700;
}
