.list-reviews {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-reviews__item {
  display: inline-block;
  overflow: hidden;
  // width: 80px;
  height: 54px;
  width: 54px;
  // border-style: solid;
  border: 2px solid rgb(255, 255, 255);
  // border-color: rgb(255, 255, 255);
  border-radius: 50%;
}

.list-reviews__item:not(:last-child) {
  margin-right: 11px;
}
