.list-reviews {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 188px;

  &__item {
    display: inline-block;
    overflow: hidden;
    height: 58px;
    width: 58px;
    border: 2px solid $color-white;
    border-radius: 50%;

    &:hover,
    &:focus {
      border-color: $color-accent-orange;
      cursor: pointer;
    }
  }
}

@media screen and (max-width:767px) {
  .list-reviews {
    &__item:not(:nth-child(-n+3)) {
      display: none;
    }
  }
}

@media screen and (min-width:768px) {
  .list-reviews {
    width: 510px;
  }
}

@media screen and (min-width:1280px) {
  .list-reviews {
    width: 600px;

    &__item {
      width: 60px;
      height: 60px;
    }
  }
}
