.logo-name__text {
  display: flex;
  font-size: 15px;
  margin: 0;
}

.logo-name__text--indentation {
  margin: 7px;
  position: relative;
}

.logo-name__text-lower {
  font-size: 5px;
  text-transform: uppercase;
}

.logo-name__text-lower--accent {
  color: rgb(255, 107, 8);
}

.logo-name__svg {
  width: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  height: 22px;
  fill: rgb(255, 107, 8);
  position: absolute;
}