.i {
  display: none;
}

.t {
  margin-bottom: 44px;
}

.m {
  background-image: url(../images/fon/fon3.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  margin: 0 -70px;
}

@media screen and (min-width:768px) {
  .i {
    display: inline-block;
  }

  .p {
    width: 318px;
  }

  .c {
    position: absolute;
    background-color: rgb(17, 21, 23);
    top: 0;
    width: 100%;
    height: 338px;
    z-index: 0;
  }

  .cc {
    position: relative;
  }

  .ccc {
    position: absolute;
    background-image: url(../images/fon/fire.png);
    background-repeat: no-repeat;
    background-position: right;
    width: 210px;
    height: 313px;
    right: 0;
    top: 36px;
  }

  .v {
    position: relative;
  }

  .a {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 1332px;
    top: 0;
  }

  .r {
    position: relative;
    z-index: 3;
  }

  .t {
    display: flex;
    margin-bottom: 48px;
  }

  .h {
    width: 400px;
    margin-left: 44px;
  }

  .m {
    background-image: url(../images/fon/fon3.png);
    background-repeat: no-repeat;
    background-position: top;
    background-repeat: repeat-x;
    margin: 0;
    margin-bottom: 50px;
    background-size: cover;

  }

  .z {
    display: inline-block;
    width: 158px;
    padding: 0 36px;
  }

  .x {
    display: inline-block;
    width: 472px;
    text-align: left;
  }

  .k {
    overflow: hidden;
  }

  .l {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .o {}

  .q {
    width: 620px;
    display: flex;
    justify-content: inherit;
    align-items: center;
  }
}

//
@media screen and (min-width:1280px) {
  .q {
    width: 1210px;
  }

  .i {
    display: flex;
    align-items: center;
  }

  .p {
    width: 496px;
  }

  .c {
    height: 532px;
  }

  .ccc {
    width: 356px;
    height: 534px;
    background-size: contain;
  }

  .h {
    margin-left: 86px;
    width: 610px;
  }

  .t {
    margin-bottom: 70px;
  }

  .z {
    padding-left: 68px;
    padding-right: 34px;
    width: 248px;
  }

  .x {
    width: 724px;
  }

  .a {
    height: 1220px;
  }

  .l {
    margin-top: 48px;
    margin-bottom: 34px;
  }
}

//
@media screen and (min-width:1680px) {
  .q {
    width: 1340px;
  }


  .p {
    width: 610px;
  }

  .c {
    height: 570px;
  }

  .our-semester {
    font-size: 21px;
  }

  .t {
    margin-bottom: 120px;
  }

  .m {
    margin-bottom: 116px;
  }

  .z {
    padding-left: 86px;
    padding-right: 35px;
    width: 266px;
  }

  .l {
    position: relative;
  }

  .h {
    width: 660px;
  }
}
