.networks {
  text-align: center;
  margin-bottom: 6px;
  margin-top: 28px;

  &__tel {
    margin-bottom: 20px;
    position: relative;
  }

  &__center {
    text-align: center;
    margin-bottom: 6px;
  }

  &__svg {
    width: 20px;
    height: 20px;
    fill: $color-accent-orange;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: rgb(17, 21, 23);
  }

  &__inst {
    width: 38px;
    height: 38px;
    margin-bottom: 10px;
    display: inline-block;
  }
}

@media screen and (min-width: 768px) {
  .networks {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-top: 34px;
    margin-bottom: 30px;
    position: relative;
    align-items: center;

    &__tel {
      margin: 0;

      ::after {
        display: block;
        content: '';
        width: 1px;
        height: 29px;
        background-color: rgb(224, 224, 224);
        position: absolute;
        right: -32px;
        top: 0;
        cursor: initial;
      }
    }

    &__center {
      display: flex;
      align-items: center;
      margin: 0;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    &__svg {
      width: 28px;
      height: 28px;
    }

    &__inst {
      margin: 0;
      margin-left: 60px;
      font-size: 20px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .networks {
    margin-top: 42px;
    margin-bottom: 38px;

    &__link {
      font-size: 27px;
    }

    &__tel {
      ::after {
        top: 9px;
      }
    }

    &__svg {
      width: 42px;
      height: 42px;
    }
  }
}

@media screen and (min-width: 1680px) {
  .networks {
    position: relative;
    margin-top: 48px;
    margin-bottom: 48px;

    &__tel {
      ::after {
        top: 7px;
      }
    }

    &__center {
      margin: 0;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
