.our-semester {
  display: block;
  color: $color-white;
  text-transform: uppercase;
  position: relative;
  font-size: 15px;

  &::before {
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $color-accent-orange;
    position: absolute;
    left: -36px;
  }

  &__item {
    position: relative;
  }

  &__title {
    display: inline-block;
    color: $color-accent-orange;
    font-size: $size-mobile;
    margin-top: 13px;
    margin-bottom: 13px;

    &::before {
      vertical-align: middle;
      display: inline-block;
      content: '';
      width: 26px;
      height: 2px;
      margin-right: 9px;
      background-color: $color-accent-orange;
    }
  }

  &__text {
    color: rgb(133, 133, 133);
    margin: 0;
  }


}

@media screen and (min-width:768px) {
  .our-semester {
    font-size: 15px;

    &::before {
      left: -60px;
    }

    &__list {
      display: flex;
      font-weight: 700;
    }

    &__item {
      width: 180px;
    }
  }
}

@media screen and (min-width:1280px) {
  .our-semester {
    font-size: 19px;
    font-weight: 700;

    &::before {
      left: 0;
      width: 17px;
      height: 17px;
      top: -48px
    }

    &__list {
      display: inline-block;
    }

    &__item {
      width: 210px;
    }

    &__title {
      font-size: $size-desktop;
      margin-top: 26px;
      margin-bottom: 6px;
    }

    &__text {
      font-size: $size-desktop;
    }

  }
}

@media screen and (min-width:1680px) {
  .our-semester {
    font-size: $size-medium-desktop;

    &::before {
      top: -66px;
    }

    &__title {
      font-size: $size-medium-desktop;
    }

    &__text {
      font-size: $size-medium-desktop;
      font-weight: 400;
    }

    &__item {
      width: 256px;

      &:not(:last-child) {
        margin-right: 50px;
      }
    }
  }
}
