.our-program {
  position: relative;

  &__info {
    position: relative;
    z-index: 12;
  }

  &__title {
    font-size: $title-size-mobile;
    font-weight: 800;
    color: $color-white;
    margin: 0;
    padding-top: 44px;
    margin-bottom: 32px;
  }

  &__list {
    text-align: left;
    margin-left: 62px;
    margin-bottom: 44px;
  }

  &__item {
    padding-left: 30px;

    &:not(:last-child) {
      border-left: solid 2px rgb(84, 98, 100);
      padding-bottom: 40px;
    }
  }

  &__fon {
    height: 1890px;
  }
}

@media screen and (min-width:768px) {
  .our-program {
    position: relative;
    background-image: none;

    &__info {
      position: relative;
      z-index: 3;
    }

    &__title {
      text-align: left;
      font-size: $title-size-tablet;
      padding-top: 52px;
      margin-bottom: 46px;
    }

    &__list {
      margin-left: 88px;
      margin-bottom: 180px;
    }

    &__item {
      padding-left: 55px;

      &:not(:last-child) {
        padding-bottom: 38px;
      }
    }

    &__fon {
      height: 1338px;
    }
  }
}

@media screen and (min-width:1280px) {
  .our-program {
    &__title {
      font-size: $title-size-desktop;
      padding-top: 60px;
      margin-bottom: 30px;
    }

    &__list {
      margin-left: 0;
      display: flex;
      justify-content: space-between;
      padding-top: 40px;
      position: relative;
      margin-bottom: 86px;

      &::before {
        display: block;
        content: '';
        position: absolute;
        height: 2px;
        width: 1240px;
        background-color: rgb(84, 98, 100);
        left: 50%;
        transform: translateX(-50%);
        top: 0;
      }
    }

    &__item {
      padding-left: 0;

      &:not(:last-child) {
        border-left: none;
        padding-bottom: 0;
      }
    }

    &__fon {
      height: 1220px;
    }
  }
}

@media screen and (min-width:1680px) {
  .our-program {
    &__title {
      padding-top: 114px;
      margin-bottom: 82px;
      font-size: $title-size-medium-desktops;
    }

    &__list {
      padding-top: 60px;

      &::before {
        width: 1640px;
        top: 0;
      }
    }

    &__fon {
      height: 1280px;
    }
  }
}
