.our-semester {
  display: block;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  position: relative;
}

.our-semester::before {
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(255, 107, 8);
  position: absolute;
  left: -36px;
}

.our-semester__item {
  position: relative;
}

.our-semester__title {
  display: inline-block;
  color: rgb(255, 107, 8);
  font-size: 13px;
  margin-top: 18px;
  margin-bottom: 13px;
}

.our-semester__title::before {
  vertical-align: middle;
  display: inline-block;
  content: '';
  width: 26px;
  height: 2px;
  margin-right: 9px;
  background-color: rgb(255, 107, 8);
}

.our-semester__text {
  color: rgb(133, 133, 133);
  margin: 0;
  font-size: 11px;

}

.our-semester__img {
  position: absolute;
  right: -20px;
  top: 42px;
  background-image: url(../images/photos/pic1.png);
  background-repeat: no-repeat;
  background-position: top;
  width: 143px;
  height: 183px;
}
