.registration {
  background-image: url(../images/fon/fon-4.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;

  &__online {
    font-size: 14px;
    font-weight: 800;
    text-align: center;
    padding-top: 52px;
    color: $color-white;
    padding-bottom: 60px;
  }

  &__item {
    font-size: 14px;
    font-weight: 800;
    margin: 0 24px;
    line-height: 1.9;

    &--accent {
      color: $color-accent-orange;
    }
  }

  &__text {
    font-size: 11px;
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: 30px;
    line-height: 1.9;
  }
}

@media screen and (min-width:768px) {
  .registration {
    background-image: url(../images/fon/fon-5.png);

    &__item {
      font-size: 22px;
      line-height: 1.8;
      margin: 0 54px;
    }

    &__text {
      font-size: 15px;
      margin: 20px 120px 38px 120px;
      line-height: 1.5;
    }

    &__online {
      padding-top: 50px;
      padding-bottom: 62px;
    }
  }
}

@media screen and (min-width:1280px) {
  .registration {
    &__item {
      font-size: 36px;
      margin: 0 140px;
      margin-bottom: 36px;
      line-height: 1.4;
    }

    &__text {
      font-size: $size-desktop;
      margin: 0 335px;
      margin-bottom: 50px;
    }

    &__online {
      padding-top: 76px;
      padding-bottom: 88px;
    }
  }
}

@media screen and (min-width:1680px) {
  .registration {
    &__item {
      font-size: 38px;
      margin: 0 190px;
      margin-bottom: 62px;
      line-height: 1.3;
    }

    &__text {
      font-size: 25px;
      margin: 0 277px;
      margin-bottom: 48px;
    }

    &__online {
      padding-top: 88px;
      padding-bottom: 98px;
    }
  }
}
