.respond-photo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 17px;
  padding-bottom: 52px;


  &--left,
  &--right {
    border: none;
    background-color: $background-color-button;
    padding: 0;
  }
}

@media screen and (min-width:768px) {
  .respond-photo {
    padding-bottom: 75px;

    &--left,
    &--right {
      position: relative;
      top: -226px;
    }

    &--left {
      left: -20px;
    }

    &--right {
      right: -20px;
    }

    &__img {
      width: 26px;
    }
  }
}

@media screen and (min-width:1280px) {
  .respond-photo {
    padding-top: 34px;
    padding-bottom: 100px;

    &--left {
      left: 0px;
    }

    &--right {
      right: 0px;
    }
  }
}

@media screen and (min-width:1680px) {
  .respond-photo {
    padding-top: 43px;
    padding-bottom: 125px;
  }
}
