.respond-photo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 17px;
  padding-bottom: 52px;


  &--left,
  &--right {
    border: none;
    background-color: $background-color-button;
    padding: 0;
  }
}

@media screen and (min-width:768px) {
  .respond-photo {
    padding-bottom: 72px;
    padding-top: 22px;

    &--left,
    &--right {
      position: relative;
      top: -182px;
    }

    &--left {
      left: -20px;
    }

    &--right {
      right: -20px;
    }

    &__img {
      width: 26px;
    }
  }
}

@media screen and (min-width:1280px) {
  .respond-photo {
    padding-top: 34px;
    padding-bottom: 96px;

    &--left {
      left: 16px;
    }

    &--right {
      right: 16px;
    }

    &--left,
    &--right {
      top: -234px;
    }
  }
}

@media screen and (min-width:1680px) {
  .respond-photo {
    padding-top: 38px;
    padding-bottom: 120px;

    &--left,
    &--right {
      top: -238px;
    }

    &--left {
      left: 78px;
    }

    &--right {
      right: 78px;
    }
  }
}
