.rights-reserved {
  background-color: $background-color;
  text-align: center;


  &__text {
    color: rgb(253, 254, 254);
    margin: 0;
    padding-top: 30px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width:768px) {
  .rights-reserved {
    text-align: left;
  }
}

@media screen and (min-width:1280px) {
  .rights-reserved__text {
    font-size: 15px;
  }
}
