.sandwich-click {
  display: inline-block;
  position: relative;
}

.sandwich-click__link {
  display: block;
}

.sandwich-click:hover .menu {
  visibility: visible;
}

@media screen and (min-width:1280px) {
  .sandwich-click {
    display: none;
  }
}
