.teacher {
  font-size: 20px;
  font-weight: 800;
  color: $color-two;
  margin-bottom: 22px;
  margin-top: 42px;

  &__photo {
    display: block;
    background-image: url(../images/photos/teacher.png);
    width: 280px;
    height: 214px;
  }

  &__name {
    font-size: 16px;
    font-weight: 800;
    color: $color-two;
    margin: 0;
    margin-top: 16px;
  }

  &__list {
    border-top: solid 1px rgb(209, 209, 209);
    padding-top: 22px;
    margin-bottom: 14px;
  }

  &__item {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__svg {
    display: block;
    width: 18px;
    height: 23px;
    margin-right: 18px;
    fill: $color-accent-orange;
  }

  &__description {
    display: inline-block;
    width: 232px;
    font-size: $size-mobile;
    font-weight: 600;
    color: $color-two;
    margin: 0;
  }
}

@media screen and (min-width:768px) {
  .teacher {
    margin-top: 32px;
    margin-bottom: 14px;
    font-size: $title-size-tablet;

    &__name {
      font-size: $title-size-mobile;
      margin-top: 0;
      margin-bottom: 8px;
    }

    &__description {
      width: 340px;
      padding-right: 24px;
    }

    &__svg {
      width: 18px;
      height: 18px;
    }

    &__img {
      height: 321px;
    }

    &__photo {
      background-image: url(../images/photos/teacher-2.jpg);
      width: 246px;
      height: 322px;
      background-size: cover;
      margin-top: 10px;
    }

    &__list {
      padding-top: 18px;
    }
  }
}

@media screen and (min-width:1280px) {
  .teacher {
    margin-top: 68px;
    font-size: $title-size-desktop;
    margin-bottom: 30px;

    &__photo {
      width: 494px;
      height: 646px;
    }

    &__name {
      font-size: 29px;
      margin-bottom: 0px;
    }

    &__list {
      padding-top: 34px;
      margin-bottom: 28px;
    }

    &__description {
      font-size: 16px;
      width: 464px;
      padding-right: 0;
    }

    &__svg {
      width: 20px;
      height: 20px;
      // хз
    }

    &__item:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

@media screen and (min-width:1680px) {
  .teacher {
    margin-top: 102px;
    margin-bottom: 58px;
    font-size: $title-size-medium-desktops;

    &__description {
      font-size: 17px;
    }

    &__name {
      margin-bottom: 6px;
    }

    &__svg {
      width: 32px;
      height: 26px;
    }

    &__item:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}
