.whereby-list {
  margin-bottom: 48px;

  &__item {
    text-align: center;
    cursor: pointer;


    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__link {
    box-shadow: $box-shadow;
    margin: 0 -5px;
    background-color: $color-white;
    height: 267px;
  }

  &__link:hover,
  &__link:focus {
    background-color: $color-accent-orange;
  }

  &__link:hover .whereby-list__title,
  &__link:hover .whereby-list__text,
    {
    color: $color-white;
  }

  &__link:hover .whereby-list__title::after {
    background-color: $color-white;
  }

  &__link:hover .whereby-list__svg {
    fill: $color-white;
  }

  &__svg {
    display: inline-block;
    fill: $color-accent-orange;
    height: 45px;
    width: 42px;
    margin-top: 30px;
    margin-bottom: 14px;
  }

  &__title {
    font-size: $size-mobile;
    font-weight: 700;
    color: $color-two;
    margin: 0 42px 32px 42px;
    position: relative;

    &::after {
      vertical-align: middle;
      display: block;
      content: '';
      width: 25px;
      height: 2px;
      background-color: $color-accent-orange;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -20px;
    }
  }

  &__text {
    font-size: 11px;
    color: $color-accent-gray-too;
    margin: 0 30px 0 30px;
    height: 75px;
    overflow: hidden;
  }
}

@media screen and (min-width:768px) {
  .whereby-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 56px;

    &__item {
      width: 292px;

      &:not(:nth-child(2n)) {
        margin-right: 22px;
      }

      &:nth-last-child(-n+2) {
        margin-bottom: 0;
      }
    }

    &__link {
      margin: 0;
      height: 267px;
    }

    &__svg {
      margin-top: 25px;
      margin-bottom: 2px;
      height: 68px;
      width: 100%;
    }

    &__text {
      margin: 0 30px;

    }

    &__title {
      margin: 0 44px 26px 44px;

      &::after {
        bottom: -14px;
      }
    }
  }
}

@media screen and (min-width:1280px) {
  .whereby-list {
    margin-bottom: 84px;

    &__item {
      width: 390px;

      &:not(:nth-child(2n)) {
        margin-right: 0;
      }

      &:not(:nth-child(3n)) {
        margin-right: 20px;
      }
    }

    &__title {
      font-size: $size-desktop;
      margin: 0 52px 24px 52px;

      &::after {
        bottom: -12px;
      }
    }

    &__text {
      font-size: 15px;
      margin: 0 50px;
      height: 100px;
    }

    &__link {
      height: 340px;
    }

    &__svg {
      margin-top: 38px;
      margin-bottom: 0px;
    }
  }
}

@media screen and (min-width:1680px) {
  .whereby-list {
    margin-bottom: 129px;

    &__item {
      width: 430px;

      &:not(:nth-child(3n)) {
        margin-right: 23px;
      }

      &:not(:last-child) {
        margin-bottom: 0;
      }

      &:not(:nth-last-child(-n+3)) {
        margin-bottom: 22px;
      }
    }

    &__link {
      height: 396px;
    }

    &__title {
      font-size: $size-medium-desktop;
      margin: 0 50px 24px 50px;
    }

    &__text {
      font-size: 19px;
      height: 154px;
      line-height: 1.7;
    }
  }
}
