.whereby__title {
  text-align: center;
  font-size: $title-size-mobile;
  font-weight: 800;
  margin-top: 44px;
  margin-bottom: 30px;
}

@media screen and (min-width:768px) {
  .whereby__title {
    margin-top: 54px;
    margin-bottom: 36px;
    font-size: $title-size-tablet;
  }
}

@media screen and (min-width:1280px) {
  .whereby__title {
    margin-top: 70px;
    margin-bottom: 36px;
    font-size: $title-size-desktop;
    text-align: left;
  }
}

@media screen and (min-width:1680px) {
  .whereby__title {
    font-size: $title-size-medium-desktops;
    margin-top: 116px;
    margin-bottom: 46px;
  }
}
