.wrapper {
  width: 280px;
  margin: 0 auto;
}

@media screen and (min-width:768px) {
  .wrapper {
    width: 688px;
  }
}

@media screen and (min-width:1280px) {
  .wrapper {
    width: 1210px;
  }
}

@media screen and (min-width:1680px) {
  .wrapper {
    width: 1340px;
  }
}
