html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-size: 11px;
  line-height: 1.7;
  font-family: $main-font;
  background-color: rgb(253, 254, 254);
  color: $color;
}

@media screen and (min-width: 1680px) {
  body {
    line-height: 1.4;
  }
}
