$main-font: "Roboto", sans-serif;
$main-font-kaushan : 'Kaushan Script', cursive;
$main-font-monts-b : "Montserrat-Bold";
$main-font-mons: 'Montserrat', sans-serif;

$color-black: rgb(0, 0, 0);
$color-main: rgb(255, 255, 255);
$color-accent: rgb(252, 227, 138);

$color-top-gradient: rgba(252, 227, 138, 0.9);
$color-bottom-gradient: rgba(243, 129, 129, 0.9);

$background-color-button: rgba(0, 0, 0, 0);
$background-color-foto: rgb(149, 225, 211);

$color-section-names: rgb(51, 51, 51);
$color-line: rgb(243, 129, 129);
$color-profesional:rgb(153, 153, 153);

$border-top:rgb(229, 229, 229);
$border-color: rgb(231, 231, 231);
