$main-font: "Montserrat", sans-serif;

$title-size-mobile: 20px;
$size-mobile: 13px;
$title-size-tablet: 26px;
$title-size-desktop: 42px;
$size-desktop:18px;
$title-size-medium-desktops: 46px;
$size-medium-desktop:21px;

$color:rgb(24, 25, 29);
$color-two:rgb(17, 21, 23);
$color-accent-orange: rgb(255, 107, 8);
$color-accent-gray:rgb(185, 185, 185);
$color-accent-gray-too:rgb(133, 133, 133);
$color-accent-black: rgb(24, 25, 29);
$color-white:rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);

$box-shadow: 4px 6.928px 15.54px 5.46px rgba(29, 29, 27, 0.04);

$background-color: rgb(17, 21, 23);
$background-color-button: rgba(0, 0, 0, 0);

$border-color:rgb(196, 196, 196);
