$main-font: "Montserrat",
sans-serif;
// $main-font-kaushan : 'Kaushan Script', cursive;
// $main-font-monts-b : "Montserrat-Bold";
// $main-font-mons: 'Montserrat', sans-serif;

$title-size-mobile: 20px;
$size-mobile: 13px;
$title-size-tablet: 26px;
$title-size-desktop: 42px;
$size-desktop:18px;
$title-size-medium-desktops: 46px;
$size-medium-desktop:21px;

$color:rgb(24, 25, 29);
$color-two:rgb(17, 21, 23);
$color-accent-orange: rgb(255, 107, 8);
$color-accent-gray:rgb(185, 185, 185);
$color-accent-black: rgb(24, 25, 29);
$color-white:rgb(255, 255, 255);
// $color-black: rgb(0, 0, 0);
// $color-main: rgb(255, 255, 255);
// $color-accent: rgb(252, 227, 138);
$box-shadow: 4px 6.928px 15.54px 5.46px rgba(29, 29, 27, 0.04);
// $color-top-gradient: rgba(252, 227, 138, 0.9);
// $color-bottom-gradient: rgba(243, 129, 129, 0.9);
$background-color: rgb(17, 21, 23);
$background-color-button: rgba(0, 0, 0, 0);
// $background-color-foto: rgb(149, 225, 211);

// $color-section-names: rgb(51, 51, 51);
// $color-line: rgb(243, 129, 129);
// $color-profesional:rgb(153, 153, 153);

// $border-top:rgb(229, 229, 229);
// $border-color: rgb(231, 231, 231);
